.block{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 1px;
}

.no-selected{
    border: none;
}

.selected{
    outline: 2px solid rgb(60, 241, 5);
    z-index: 100;
}

.select-error{
    /* outline: 2px solid rgb(241, 5, 5); */
    background-color: rgb(241, 5, 5);
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    z-index: 110;
}

.found{
    background-color: rgb(45, 194, 0);
}