.word-search-grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.row{
    display: flex;
    cursor: pointer;
}

.words-container{
    width: 100%;
    max-height: max-content;
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.words{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: max-content;
}

.words p{
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 10px 10px;
    padding: 5px;
}

.found-word{
    background-color: rgb(30, 255, 0);
}