*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
  }
  
.page-container{
  display: flex;
  flex-direction: column;
  max-width: max-content;
  min-width: 100%;
}

.main-text-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-container{
  font-family: sans-serif;
  font-size: 1.2rem;
  max-width: 800px;
  margin: 25px 0;
  color: rgb(255, 255, 255);
}

.text-container h2{
  margin: 20px;
  text-align: center;
  font-weight: 700;
}

.text-container p{
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0);
  height: max-content;
}

.rules-container{
  display: flex;
  flex-direction: column;
}

.rules-container h3{
  text-align: center;
  margin: 20px 0;
}

.rule-container{
  padding: 10px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  background-color: rgb(71, 71, 71, 0.7);
  border-radius: 15px;
}

.rule-container p{
  padding: 5px;
}

.rule-container img{
  object-fit: contain;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's above all other content */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3); /* Outer border */
  border-top: 5px solid white; /* Spinning border */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}